body {
    font-family: 'Arial', sans-serif;
    background-color: #ECF0F1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 50px;
  }

 .FormContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    padding: 40px 60px;
    background-color: #50A9E6;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.Displayed {
    color: #333; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 60px;
    max-width: 600px;
    width: 100%;
}
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    padding: 10px 40px;
    border-bottom: 6px solid #007bff;
  }

  h2 {
    color: #333;
    padding: 10px 40px;
    border-bottom: 2px solid #007bff;
  }

  h3 {
    color: #f5f5f5;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    text-align: center;
    justify-content: center;
  }

  label {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }

  input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    margin-bottom: 15px;
  }
  
  .loading {
    margin-bottom: 15px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .related {
    margin-bottom: 40px;
  }

  li {
    margin-top: 10px;
  }
  